@model MyWebSite.Models.Classes.Icon
@{
    ViewBag.Title = "comeIcon";
    Layout = "~/Views/Shared/_AdminLayoud.cshtml";
}

<h2>İkon Güncelle</h2>
<br />
@using (Html.BeginForm("UpdateIcon", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id);
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.icon);
    @Html.TextBoxFor(x => x.icon, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.link);
    @Html.TextBoxFor(x => x.link, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <button class="btn btn-success">İkon Güncelle</button>
}

